<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <form action="/add-mascot" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
            </div>
            <div class="mb-3">
                <label for="organization" class="form-label">Organization</label>
                <input type="textarea" class="form-control" id="organization" name="organization" aria-describedby="organization">
            </div>
            <div class="mb-3">
                <label for="birth_year" class="form-label">Year</label>
                <input type="number" class="form-control" id="birth_year" name="birth_year" aria-describedby="birth_year">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>